#queuedColumn {
  /* overflow: auto; */
  height: 1000px;
}

#completedColumn {
  /* overflow: auto; */
  height: 1000px;
}

#mainDiv {
  width: 1000px;
  padding-left: 100px;
  padding-top: 50px;
  margin: auto;
  overflow: auto;
  scrollbar-color: #528789;
  height: 1000px;
  /* border: 5px solid #00ccff;
  border-style: ridge; */
}

#mainDiv::-webkit-scrollbar {
  width: 100px;
}

#mainDiv::-webkit-scrollbar-track {
  background-color: aqua;
}

#createBtn {
  margin-bottom: 20px;
  background-color: #35a6a9;
  position: relative;
}

#mainBanner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#dropdown {
  top: 10px;
  position: relative;
  float: right;
}
