#queuedColumn {
  /* overflow: auto; */
  height: 1000px;
}

#completedColumn {
  /* overflow: auto; */
  height: 1000px;
}

#mainDiv {
  width: 1000px;
  padding-left: 100px;
  padding-top: 50px;
  margin: auto;
  overflow: auto;
  height: 1000px;
  /* border: 5px solid #00ccff;
  border-style: ridge; */
}

#createBtn {
  margin-bottom: 20px;
}

#mainBanner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
